body {
    font-family: 'Lora';
    background-color: lightgrey;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: forestgreen;
}
a:hover {
    font-weight: bold;
    color: orange;
    cursor: pointer;
}
.Food {
    color: rgb(150, 4, 72);
    font-weight: bolder;
}
.boxes {
    margin: ;
    padding: ;
    border: 1px solid yellow;
    border-radius: 20px;
    width: 30em;
}
#box1 {
    background-color: blue;
}
#box2 {
    background-color: beige;
}
#box3 {
    background-color: khaki;
}
#box4 {
    background-color: sienna;
}